body {
  font-family: 'Open Sans', sans-serif;
}

header,
footer {
  background: black;
  box-shadow: inset 0px 0px 90px 10px #930d0f;
  color: white;
  box-sizing: border-box;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

#header {
  padding: 20px 40px;
  height: 85px;
}

#header h1 {
  float: left;
  font-size: 35px;
  line-height: 40px;
  margin: 0;
  letter-spacing: 1.5px;
}

#header h1 a {
  text-decoration: none;
  color: white;
}

#header nav {
  font-size: 16px;
  line-height: 40px;
  float: right;
}

#header nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#header nav a:hover {
  font-weight: bold;
  font-style: italic;
}

.about-me,
.contact-form,
.social-links {
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 3px 3px 15px 8px #930d0f;
}

.contact-form,
.social-links {
  padding: 20px 50px;
}

.about-me {
  margin: 50px auto;
  padding: 50px;
  width: 59%;
}

.about-me img {
  height: 200px;
  float: right;
  border: 3px solid;
  margin: 10px;
  border-radius: 10px;
}

.contact-form {
  margin: 50px 50px 50px 150px;
  width: 30%;
  height: 600px;
  float: left;
}

.contact-form label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.contact-form input {
  height: 50px;
}

.contact-form input[type='submit'] {
  background: black;
  color: white;
  width: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.contact-form textarea {
  height: 150px;
}

.social-links {
  margin: 50px 150px 50px 100px;
  width: 17%;
  height: 250px;
  float: right;
}

.social-links h2 {
  margin: 15px 0;
}

.social-links img {
  height: 75px;
  margin: 0 20px 5px 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 20px 40px;
  text-align: center;
}
